{%- comment -%}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{%- endcomment -%}

A heads up for the {{ include.name }} user community that the {{ include.name }} PMC has
been 'moved to the Attic'. This means that the {{ include.name }} developers (more
formally its Project Management Committee) have voted to retire {{ include.name }} 
and move the responsibility for its oversight over to the Attic project.

Loosely speaking this means that the projects resources will be moved to a
read-only state.

You can read more about the Apache Attic and the process of moving to the
Attic at https://attic.apache.org.

You can follow this process in JIRA:

https://issues.apache.org/jira/browse/{{ include.attic_issue }}

Thanks,

${NAME}
on behalf of {{include.name}} project and the Apache Attic.