<pre>
A heads up for the {{ include.name }} user community that the {{ include.name }} PMC has
been 'moved to the Attic'. This means that the {{ include.name }} developers (more
formally its Project Management Committee) have voted to retire {{ include.name }} 
and move the responsibility for its oversight over to the Attic project.

Loosely speaking this means that the projects resources will be moved to a
read-only state.

You can read more about the Apache Attic and the process of moving to the
Attic at https://attic.apache.org.

You can follow this process in JIRA:

https://issues.apache.org/jira/browse/{{ include.attic_issue }}

Thanks,

${NAME}
on behalf of {{include.name}} project and the Apache Attic.
</pre>
